body {
  background-image: url(texture-319748_1920.png);
  position: absolute;
  width: 1440px;
  height: 900px;
}
h1 {
  position: absolute;
  width: 980px;
  height: 95px;
  left: 230px;
  top: 0px;

  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;

color: #661B1B;

}
