header {
  background-image: url (headertop2.png)
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;

}

h1 {
  position: absolute;
  width: 764px;
  height: 73px;
  left: 338px;
  top: 94px;

  font-family: LC Chalk;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 78px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #000000;
}
