body {
  background-image: url(img/background.png);
  width: 1400px;
  height: 1200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: absolute;
}

menu {

}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
li {
  float: left;
  font-family: LC Chalk;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
}
h1 {
  position: absolute;
  left: 367px;
  top: 40px;


  font-family: LC Chalk;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 78px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #000000;
}
